.kb-custom-sec {
    min-width: 100%;
    max-width: 1260px;
    padding: 5px;
}

.keyboardContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1260px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #857e7e;
}

.simple-keyboard.hg-theme-default {
    display: inline-block;
}

.simple-keyboard-main.simple-keyboard {
    width: 70%;
    max-width: 70%;
    background: none;
}

.simple-keyboard-main.simple-keyboard .hg-row {
    margin-bottom: 0px;
}

.simple-keyboard-arrows.simple-keyboard {
    align-self: flex-end;
    background: none;
}

.simple-keyboard .hg-button.selectedButton {
    background: rgba(5, 25, 70, 0.53);
    color: white;
}

.simple-keyboard .hg-button.emptySpace {
    pointer-events: none;
    background: none;
    border: none;
    box-shadow: none;
}

.simple-keyboard-arrows .hg-row {
    justify-content: center;
}

.simple-keyboard-arrows .hg-button {
    width: 50px;
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.controlArrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.simple-keyboard-control.simple-keyboard {
    background: none;
}

.simple-keyboard-control.simple-keyboard .hg-row:first-child {
    margin-bottom: 10px;
}

.simple-keyboard-control .hg-button {
    width: 50px;
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.numPad {
    display: flex;
    align-items: flex-end;
    width: 30%;
}

.simple-keyboard-numpad.simple-keyboard {
    background: none;
}

.simple-keyboard-numpad.simple-keyboard {
    width: 100%;
}

.simple-keyboard-numpad.simple-keyboard .hg-button {
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.simple-keyboard-numpadEnd.simple-keyboard {
    width: 50px;
    background: none;
    margin: 0;
    padding: 5px 5px 5px 0;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button {
    align-items: center;
    justify-content: center;
    display: flex;
}

.simple-keyboard-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
    height: 85px;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
    height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
    background: rgba(5, 25, 70, 0.53);
    color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
    width: 350px;
}

.simple-keyboard {
    max-width: 850px;
}

/* Keys */
.simple-keyboard {
    background: transparent;
}
.simple-keyboard .hg-button {
    background: linear-gradient(#333, #111);
    color: #fff;
    border: 1px solid #222;
    border-radius: 6px;
    margin: 3px;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2),
        0 1px 1px rgba(0, 0, 0, 0.6);
    transition: background 0.2s;
}
.simple-keyboard .hg-button:hover {
    background: linear-gradient(#444, #222);
}
.simple-keyboard .hg-button:active {
    background: #000;
}

/* Special keys (Enter, Caps Lock) */
.simple-keyboard .hg-button[data-skbtn="{enter}"],
.simple-keyboard .hg-button[data-skbtn="{capslock}"] {
    background: linear-gradient(#555, #222);
    font-weight: bold;
    min-width: 80px;
}

.hg-theme-default .hg-row:not(:last-child) {
    margin-bottom: 0px;
}

.hg-theme-default .hg-button.hg-button-numpadadd,
.hg-theme-default .hg-button.hg-button-numpadenter {
    height: 60px;
}

.hg-theme-default .hg-button {
    height: 60px;
}